section
    h1 Welcome, #{name || 'Anonymous'}!

    if username
        form(action="/logout" method="POST")
            input(type="hidden" value=(username || false) name="username")
            button Logout
