extends app

block body
    a(href="/register") Register
    |  or 
    a(href="/login") Login
    h2 Search
    form(action="/search/" method="GET" classname="search")
      input(type="text" name="query" placeholder="criteria" value=(query || ''))
      button(type="submit") Search