.favorites
    list-style: none

    .favorite
        &__item
            display: grid
            grid-template-columns: 30% auto
        &__logo
            img
                width: 50px
            // &__name
                
