$feedback: ".feedback"
#{$feedback}
    position: absolute
    width: 300px
    padding: 10px
    right: 50px
    top: 50px
    z-index: 100
#{$feedback}__success
    background-color: green
    color: white
#{$feedback}__error
    color: white
    background-color: #ff6666