.login
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    width: 100vw
    height: 100vh
    background-image: url('../images/landing-photo.jpg')
    background-repeat: no-repeat
    background-size: cover

    &__container
        background-color: #00000091
        width: 20%
        border-radius: 7px
        align-self: flex-end
        margin-right: 185px

    &__logo
        background-image: url('../images/logo.png')
        background-position: right
        background-repeat: no-repeat
        background-size: contain
        margin-left: 850px
        height: 250px
        width: 500px
        
    
    &__title
        font-size: 45px
        align-self: flex-end
        color: white

    &__username
        _width: 20%
        border-radius: 5px
        padding: 5px
        margin: 10px
        font-size: 20px
        text-align: center
        align-self: flex-end
        
    
    &__password
        _width: 20%
        border-radius: 5px
        padding: 5px
        margin: 10px
        font-size: 20px
        text-align: center
        align-self: flex-end
        

    
    &__button
        _width: 10%
        border-radius: 5px
        padding: 5px
        margin: 10px
        font-size: 20px
        align-self: flex-end
        background-color: white
        
