.players
    display: flex
    flex-wrap: wrap
    justify-content: center

.players-photo
    width: 400px
    margin: 20px

.players-name
    text-align: center

.player-detail
    text-align: center
    