.table
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between
    align-items: center

    &__container
        width: 100%

    &__name
        _border-bottom: 2px solid black

    &__numbers
        width: 80vh
        display: flex
        justify-content: space-between
        margin-right: 350px

    &__total
        color: red
        border-bottom: 2px solid red
    
    &__initials
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 80vh
        margin-left: 240px
        border-bottom: 1px solid black

.table:hover
    background-color: #f1f1f1
    