@import '~@fullcalendar/core/main.css'
@import '~@fullcalendar/daygrid/main.css'
// @import "@fullcalendar/timegrid/main.css";

.workingDay
    border: 0
    background-color: #2a9142

.workingDay--pending
    border: 0
    background: rgb(42,145,66)
    background: linear-gradient(169deg, rgba(42,145,66,1) 40%, rgba(164,164,164,1) 60%)

.publicHoliday
    border: 0
    background-color: #ff6666

.publicHoliday--pending
    border: 0
    background: rgb(255,102,102)
    background: linear-gradient(169deg, rgba(255,102,102,1) 40%, rgba(164,164,164,1) 60%)